.input-controller {
  max-width: 800px;
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.button-controller {
  padding: 0 18px;
  margin-top: 25px;
}

.button-controller > .button {
  padding: 12px 18px;
  margin-top: 25px;
}

.text-editor {
  height: 200px;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #eeee;
}

.rich-editor button {
  background-color: transparent;
  font-weight: 700;
  font-size: 20px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

select {
  color: #757575;
}
